[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
apscheduler = "*"
prometheus_client = "*"
prometheus_api_client = "*"
tornado = "*"
fbprophet = "*"
dateparser = "*"

[requires]
python_version = "3.6"
