[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
schedule = "*"
prometheus_client = "*"
prometheus_api_client = "*"
tornado = "*"
fbprophet = "*"
dateparser = "*"
mlflow = "*"
holidays = "==0.9.12"
keras = "*"
numpy = "*"
scikit-learn = "*"
tensorflow = "==1.14"

[requires]
python_version = "3.6"
