[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
schedule = "*"
prometheus_client = "*"
prometheus_api_client = "*"
tornado = "*"
fbprophet = "*"
dateparser = "*"
mlflow = "*"
keras = "*"
numpy = "*"
scikit-learn = "*"
tensorflow = "*"

[requires]
python_version = "3.8"
